h1 { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 100px;
  font-kerning: 10px;
  font-weight: bold;
  color: whitesmoke;
  text-align: justify;
  
}

p { font-family: sans-serif;
  color: whitesmoke;
  font-kerning: 10px;
  margin-bottom: 35px;

}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #42504b;
}

#map {
  width: 94%;
  height: 100%;
  
}


input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 375px;
  height: 10px;
  background: linear-gradient(to right, rgb(24, 25, 90), rgb(1, 152, 227), #0ff, #ff0, orange, rgb(123, 16, 16));;
  outline: none;
  border-radius: 10px;
  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #000000;
  cursor: pointer;
  border-radius: 100%;
}


#percentage-container{
  text-align: center;
  margin-top: 35px;
  color: whitesmoke;
}

#slider-container{
  text-align: left;
  margin-top: 35px;
  color: whitesmoke;
}